/***************************************************************************
*                                                                          *
* contented3 - An open source xhtml/css website template by Contented      *
* Designs.  You're free to modify it and use it for any purpose without    *
* cost or obligation. We'd prefer that you leave the link to our website   *
* in the footer but it's not required.                                     *
*                                                                          *
* If you have comments or questions, please contact us at                  *
* http://www.ContentedDesigns.org. Thanks!                                 *
*                                                                          *
* Version: 1.03 (Apr 15, 2010)                                             *
***************************************************************************/

* {
	padding:0;
	margin:0;
}

body {
	color: #333333;
	background-color:#FFFFFF;
	font-family:Arial; sans-serif;
	font-size:100%;
	margin:20px auto;
	width:90%;
        padding-left:10px;
        padding-right:10px;
}

hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "8";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
    -webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, 
fieldset, address { margin:0.75em 0;}

h1 {font-size:167%;}

h2 {font-size:139%;}

h3 {font-size:120%;}

h4 {font-size:100%;}

li, dd { 
	margin-left:2em;
}

a {
        color: #3366CC;
        background-color: #FFFFFF;
        font-weight: normal;
        text-decoration: none;
	outline:none;
}

a:hover {
        color: #0033CC;
        background-color: #FFFFFF;
        font-weight: normal;
        text-decoration: underline;
}

.image_paragraph_right {
	float: right;
	margin-top:0px;
	margin-left:20px;
	margin-bottom:5px;
}

.image_paragraph_left {
	float: left;
	margin-top:0px;
	margin-right:20px;
	margin-bottom:5px;
}

.image_section_right {
	float: right;
	margin-top:20px;
	margin-left:20px;
	margin-bottom:10px;
}

.image_section_left {
	float: left;
	margin-top:20px;
	margin-right:20px;
	margin-bottom:10px;
}

#title {
        color:black;
        background-color:#FFFFFF;
        font-size:200%;
        font-weight:normal;
	margin:0px 0px 10px 0px;
        float:left;
}

#slogan {
	color:#000000;
	background-color:#FFFFFF;
	font-size:small;
	font-weight:bold;
	padding:18px 0px 0px 50px;
	float:left;
	margin:0px 0px 10px 0px;
}

ul#nav {
	clear:both;
	float:left;
	margin: 0;
	padding: 0;
	list-style: none;
	width:80%;
}

ul#nav li {
	margin: 0;
	padding: 0;
	float: left;
	width:25%;
	text-align: center;
}

ul#nav li a {
	display: block;
	font-size: small;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	background: #5588CC;
	padding: 8px 0px 8px 0px;
	border-radius: 25px;
}

ul#nav li a:hover { background: #3366CC; color: #FFFFFF; 	border-radius: 25px; }
ul#nav a.selected:link { background: #3366CC; color: #FFFFFF; }
ul#nav a.selected:visited { background: #3366CC; color: #FFFFFF; }

#maincontent {
	font-size:100%;
	padding:0px 5px 5px 0px;
	margin:10px 0px 10px 0px;
	width:80%;
	float:left;
}


#footer {
	color:#000000;
	background-color:#FFFFFF;
	border-top:1px solid black;
	font-size:80%;
	line-height:1.5em;
	width: 90%;
	clear:both;
}

#footer a {
        color:#3366CC;
        background-color:#FFFFFF;
        text-decoration: none;
}

#footer a:hover {
        color:#0033CC;
        background-color:#FFFFFF;
        font-weight: normal;
        text-decoration: underline;
}

#copyright {
	color:#000000;
	background-color:#FFFFFF;
	padding:5px 20px 5px 0px;
	float:left;
}

#footercontact {
	color:black;
	background-color:#FFFFFF;
	padding:5px 0px 5px 0px;
	float:right;
}




